<div class="container">
    <div class="page-header">
      <h1 class="page-title">Stock Trades by Traders</h1>
    </div>
  
    <mat-card-title>
      Actions
      <div style="float: right;">
        <button mat-raised-button color="accent" (click)="exportToCSV()">Export</button>
        <button mat-raised-button color="primary" (click)="printTable()">Print</button>
        <button mat-raised-button color="warn" (click)="openAddDividendModal()">
          Add Dividend
        </button>
      </div>
    </mat-card-title>
  
    <mat-card>
      <mat-card-content>
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width-table">
  
          <!-- ID -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
          </ng-container>
  
          <!-- user_id -->
          <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef>User ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.user_id }}</mat-cell>
          </ng-container>
  
          <!-- username -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
          </ng-container>
  
          <!-- stock_symbol -->
          <ng-container matColumnDef="stock_symbol">
            <mat-header-cell *matHeaderCellDef>Stock Symbol</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.stock_symbol }}</mat-cell>
          </ng-container>
  
          <!-- order_type -->
          <ng-container matColumnDef="order_type">
            <mat-header-cell *matHeaderCellDef>Order Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.order_type }}</mat-cell>
          </ng-container>
  
          <!-- price -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
          </ng-container>
  
          <!-- quantity -->
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
          </ng-container>
  
          <!-- transaction_fee -->
          <ng-container matColumnDef="transaction_fee">
            <mat-header-cell *matHeaderCellDef>Transaction Fee</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.transaction_fee }}</mat-cell>
          </ng-container>
  
          <!-- total_buying_price -->
          <ng-container matColumnDef="total_buying_price">
            <mat-header-cell *matHeaderCellDef>Total Buying Price</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.total_buying_price }}</mat-cell>
          </ng-container>
  
          <!-- weighted_value -->
          <ng-container matColumnDef="weighted_value">
            <mat-header-cell *matHeaderCellDef>Weighted Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.weighted_value }}</mat-cell>
          </ng-container>
  
          <!-- dividend_eligible -->
          <ng-container matColumnDef="dividend_eligible">
            <mat-header-cell *matHeaderCellDef>Dividend Eligible</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.dividend_eligible }}</mat-cell>
          </ng-container>
  
          <!-- trade_time -->
          <ng-container matColumnDef="trade_time">
            <mat-header-cell *matHeaderCellDef>Trade Time</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.trade_time | date:'short' }}
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
  
        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
  