/* suspicious-activities.component.css */

.suspicious-activities-container {
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
}

.table-hover tr {
  cursor: pointer;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}
